/*.pro.user
/*.app
/*.dmg
/.DS_Store
.qmake.stash
/*.o
moc_*.cpp
/Makefile
/zeromq/bin/
/zeromq/include/zmq.h
/zeromq/include/zmq_utils.h
/zeromq/lib/
/zeromq/share/
/msgpack-c/lib/
*.o
*.lo
*.plo
*.Po
/zeromq-4.0.4/src/Makefile
/zeromq-4.0.4/tools/Makefile
/zeromq-4.0.4/tests
/zeromq-4.0.4/src/.deps
/zeromq-4.0.4/perf
/zeromq-4.0.4/perf/.deps
/zeromq-4.0.4/src/.libs/
/zeromq-4.0.4/src/libzmq.la
/zeromq-4.0.4/tools/.libs/
/zeromq-4.0.4/tools/.deps/
/zeromq-4.0.4/tools/curve_keygen
/ui_dialog.h
/RbkitClient
/zeromq-4.0.4/Makefile
/zeromq-4.0.4/builds/msvc/Makefile
/zeromq-4.0.4/builds/redhat/zeromq.spec
/zeromq-4.0.4/config.log
/zeromq-4.0.4/config.status
/zeromq-4.0.4/doc/Makefile
/zeromq-4.0.4/foreign/openpgm/Makefile
/zeromq-4.0.4/libtool
/zeromq-4.0.4/src/libzmq.pc
/zeromq-4.0.4/src/platform.hpp
/zeromq-4.0.4/src/stamp-h1
