/*.pro.user
/*.app
/*.dmg
/.DS_Store
.qmake.stash
/*.o
moc_*.cpp
/Makefile
/zeromq/bin/
/zeromq/include/zmq.h
/zeromq/include/zmq_utils.h
/zeromq/lib/
/zeromq/share/
/msgpack-c/lib/
/ui_dialog.h
/RbkitClient
