before_install:
 - sudo add-apt-repository --yes ppa:beineri/opt-qt532
 - sudo apt-get update -qq
 - sudo apt-get install qt53base qt53svg qt53connectivity qt53declarative libsqlite3-dev
 - sudo apt-get install qt53tools qt53webkit-examples

script:
 - source /opt/qt53/bin/qt53-env.sh
 - cd msgpack-c && autoreconf && cd .. && qmake && make && ./tests/rctests
