.container {
  margin: 0px auto;
  width: 980px;
}

.chart, .stats {
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 0px;
  width: 480px;

  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chart h4, .stats h4 {
  margin: 0px auto;
}

.stats .table {
  display: inline-block;
}

.generation-charts {
  margin-top: 40px;
  width: 800px;
  display: none;
}


.generation-charts canvas {
  display: inline-block;
}


.line-legend {
  list-style-type: none;
  margin: 0px;
}

.line-legend li {
  display: inline-block;
  margin: auto 10px;
}

.line-legend span {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: auto 5px;
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 2px;
}
